@use './_variables.scss' as *;

html,
body,
#app {
  height: 100%;
}

body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji';
  color: $text-color-primary;
  background: $background-color-base;
  font-size: $font-size-base;
}

.app {
  max-width: $app-max-width;
}
